//##########################################
//################# vars   ################
//##########################################

//================
//  backgrounds:
//================
$body-bg: #181818;

//================
//  colors:
//================
$main-c: #ddd;
$hero-c: #8cf7ff;
